* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* colors and font styles */
.darkbg {
    background-color: #1f2937;
}

.graybg {
    background-color: #e5e7eb;
}

.bluebg {
    background-color: #3882f6;
}

.main-header {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

#logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary-header {
    font-size: 36px;
    font-weight: 900;
    columns: #1f2937;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}

.signup {
    font-size: 18px;
    font-weight: bold;
    color:#f9faf8;
}

/* this is for the header, main, quote and modal section */
header,
main,
.quote {
    display: flex;
    flex-direction: column;
    padding: 0 16%;
}

/* this is for the nav */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 60px;
}

ul {
    display: flex;
    list-style: none;
    gap: 22px;
}

a {
    text-decoration: none;
}

/* this is for the hero section */
.hero {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
    gap: 70px;
}

.hero .right {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.right button {
    align-self: flex-start;    
}

button {
    padding: 8px 32px;
    border-radius: 10px;
    border: 2px solid #f9faf8;
}

.hero .left {
    width: 500px;
    height: 200px;
    flex: none;
    background-color: white;
}

/* this is for the main section */
.cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.secondary-header {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    flex-wrap: wrap;
}

.card-desc {
    text-align: center;
    max-width: 150px;
    font-size: 18px;
}

/* this is for the quote section */
.quote {
    padding-top: 100px;
    padding-bottom: 80px;
}

.quote .content {
    align-self: center;
    justify-self: center;
    padding: 0 60px;
}

.quote .credit {
    align-self: flex-end;
    font-size: 18px;
}

/* this is for the modal section */
.modal {
    margin: 70px 16%;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}